.why_we
	.container
		h1 Почему занимаются у нас?
		.main-block
			.block-1
				img(src="../img/i1.png")
				p Занятие проходят в уютном зале
			.block-2
				img(src="../img/i2.png")
				p Индивидуальный подход к каждому
			.block-3
				img(src="../img/i3.png")
				p Не более 10 человек в группе
			.block-4
				img(src="../img/i4.png")
				p Cопровождение на протяжении всего занятия
