.why_we
	height: 580px
	width: 100%
	position: relative
	h1
		text-align: center
		margin-top: 50px
		font-size: 50px
		font-weight: 500
		color: #2c5871
	.container
		.main-block
			width: 100%
			img
				margin-right: 90px
				margin-top: 90px
			.block-1
				display: inline-block
				margin-left: 25px
				p
					color: #2c5871
					font-size: 16px
					font-weight: 300
					width: 200px
					margin-left: 20px;
			.block-2
				position: relative
				display: inline-block
				img
					margin-top: 30px
				p
					position: absolute
					top: -15px
					color: #2c5871
					font-size: 16px
					font-weight: 300
					width: 200px
			.block-3
				display: inline-block
				p
					font-size: 16px
					font-weight: 300
					color: #2c5871
					width: 200px
					margin-left: -30px
			.block-4
				display: inline-block
				position: relative
				img
					margin-top: 30px
				p
					position: absolute
					top: -15px
					font-size: 16px
					font-weight: 300
					width: 200px

