script(src="../app/vendor/jquery-2.1.1.js")
script(src="../app/vendor/bootstrap/bootstrap.js")
script(src="../app/vendor/formstyler/jquery.formstyler.min.js")
script(src="../app/vendor/jquery.browser.min.js")
script(src="../app/vendor/virtual-viewport.js")
script(src="../app/vendor/common.js")