meta(charset="utf-8")
meta(name="viewport" content="width=device-width")
link(href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
link(href="../app/vendor/bootstrap/bootstrap.css", type="text/css", rel="stylesheet")
link(href="../app/vendor/formstyler/jquery.formstyler.css", type="text/css", rel="stylesheet")
link(href="../app/style.css", type="text/css", rel="stylesheet")
