doctype html
html
	head
		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		title Линки страниц
		link(rel='stylesheet', type='text/css', href='app/vendor/bootstrap/bootstrap.css')
		style(type='text/css').
			b {padding-right: 20px}
			b.padd {padding-right: 11px}
			hr {margin-top: 10px; margin-bottom: 10px}
	body
		.container
			h2(style='text-align: center') Landing: Pages
			ul(style='margin: 0 auto 50px; width: 600px')
				li: a(href='pages/Landing_yoga.html') <b> Landing_yoga
					| LY - Лендинг йоги
