.header
	position: relative
	background: url('../img/header.jpg') center bottom
	margin: 0 auto
	height: 800px
	width: 100%
	background-size: cover
	// .bg
	// 	margin: 0 auto
	// 	height: 800px
	// 	width: 100%
	// 	background-size: cover
	.container
		.top-block
			width: 600px
			position: absolute
			top: 40px
			left: 250px
			.logo
				display: inline-block
				width: 240px
				vertical-align: text-bottom;
				padding-right: 20px
				a
					color: #fff
					font-size: 20px
			.tel
				display: inline-block
				width: 250px
				border-left: 1px solid white
				padding-left: 20px
				a
					font-size: 35px
					margin: 0
					color: #fff
					font-weight: 400
		.middle-block
			.podpiska
				position: absolute;
				top: 140px;
				left: 70px;
				width: 455px;
				line-height: 77px
				background-color: rgba(11, 47, 82, 0.45);
				border-radius: 30px
				.top
					h1
						color: #fff
						text-align: center
						font-size: 39px
						font-weight: 500
						line-height: 1.3
					p
						color: #fff
						text-align: center
						font-size: 21px
						font-weight: 500
						line-height: 1.3
				.middle
					input
						display: block
						margin: 0 auto
						width: 360px
						height: 45px
						line-height: 45px
						border: 1px solid #e5e5e5;
						color: #b2b2b2
						padding-left: 17px
						font-size: 14px
						font-family: 'Roboto', sans-serif
						font-weight: 300
						margin-bottom: 23px
						border-radius: 10px
				.button-wrap
					a.btnreg
						margin: 0 auto
						display: block
						border-radius: 25px
						height: 60px
						width: 255px
						background-color: #E87504
						font-size: 24px
						font-family: 'Roboto', sans-serif
						font-weight: 500
						color: white
						line-height: 60px
						padding: 0 20px
						text-decoration: none
						transition: opacity 0.4s
						text-align:center
						margin-bottom: 20px
						&:hover
							background-color: #F5800C
			.content
				position: absolute;
				top: 150px;
				right: 0px;
				width: 455px;
				line-height: 77px
				margin-right: 20px
				h1
					font-size: 75px
					margin: 0
					color: #fff;
					font-weight: 400
		.bottom-block
			background-color: rgba(11, 47, 82, 0.45);
			bottom: 90px
			right: 50px
			position: absolute
			border-radius: 20px
			h2
				font-weight: 500
				font-style: italic
				color: #fff
				text-align: center
			p
				font-size: 28px
				font-weight: 500
				font-style: italic
				color: #fff
				text-align: center
				margin-left: 20px
				margin-right: 20px