.header
	//-img.bg(src="../img/header.jpg")
	.container
		.top-block
			.logo
				a(href="http://vk.com/yoga_pmr") Йога в Приднестровье
			.tel
				a(href="tel:+37377777777") 0 (777) 77777
		.middle-block
			.podpiska
				.top
					h1 Оставьте заявку,
					p чтобы записаться на бесплатное занятие йогой
				.middle
					.form-reg
						form
							input(type="text" name="first_name" placeholder=" Ваше имя")
							input(type="text" name="mail" placeholder="Электронная почта")
							input(type="tel" name="tel" placeholder="Телефон")
				.button-wrap
					a(href="#").btnreg Отправить заявку
			.content
				h1 Начни заниматься йогой прямо сейчас!
		.bottom-block
			h2 ЙОГА теперь доступна всем.
			p Запишись на бесплатное занятие.