.how_work
	.container
		h1 Как мы работаем?
		.block-img
			.img
				img(src="../img/mail.png")
				img(src="../img/tel.png")
				img(src="../img/end.png")
			.arrow
				img(src="../img/arrow_right.png")
				img(src="../img/arrow_right.png")
				img(src="../img/arrow_right.png")
			.line
		.block-text
			p Заполните форму заявки
			p Мы свяжемся с Вами
			p Вы получите информацию
