.how_work
	background: url('../img/how_work_bg.jpg') center bottom
	height: 530px
	width: 100%
	background-size: cover
	.container
		h1
			font-size: 60px
			color: #fff
			text-align: center
			margin-top: 50px
			font-weight: 300
		.block-img
			width: 815px
			margin: 0 auto
			margin-left: 165px
			.img
				margin: 0 auto
				width: 800px
				img
					margin-top: 50px
					margin-right: 210px
			.arrow
				display: block
				margin: 0 auto
				width: 800px
				margin-left: 24px
				img
					margin-top: 15px
					margin-right: 245px
			.line
				background-image: url('../img/line.png')
				background-repeat: repeat-x
				width: 535px
				height: 1px
				margin-left: 30px
				margin-top: -10px;
		.block-text
			margin-top: 15px
			margin-left: 140px
			p
				width: 135px
				display: inline-block
				color: #fff
				margin-right: 50px
				font-size: 18px
				font-weight: 400
				margin-right: 125px
				text-align: center