.footer
	position: relative
	background: url('../img/footer.jpg') center bottom
	margin: 0 auto
	height: 425px
	width: 100%
	background-size: cover
	// .bg
	// 	margin: 0 auto
	// 	height: 800px
	// 	width: 100%
	// 	background-size: cover
	.container
		.block-top
			width: 600px
			position: absolute
			top: 40px
			left: 110px
			.logo
				display: inline-block
				width: 240px
				vertical-align: text-bottom;
				padding-right: 20px
				a
					color: #fff
					font-size: 20px
			.tel
				display: inline-block
				width: 250px
				border-left: 1px solid white
				padding-left: 20px
				a
					font-size: 35px
					margin: 0
					color: #fff
					font-weight: 400
		.block-middle
			.podpiska
				position: absolute;
				top: 40px;
				right: 70px;
				width: 455px;
				line-height: 77px
				background-color: rgba(11, 47, 82, 0.45);
				border-radius: 30px
				.form-reg
					margin-top: 20px
					input
						display: block
						margin: 0 auto
						width: 360px
						height: 45px
						line-height: 45px
						border: 1px solid #e5e5e5;
						color: #b2b2b2
						padding-left: 17px
						font-size: 14px
						font-family: 'Roboto', sans-serif
						font-weight: 300
						margin-bottom: 23px
						border-radius: 10px
				.button-wrap
					a.btnreg
						margin: 0 auto
						display: block
						border-radius: 25px
						height: 60px
						width: 255px
						background-color: #E87504
						font-size: 24px
						font-family: 'Roboto', sans-serif
						font-weight: 500
						color: white
						line-height: 60px
						padding: 0 20px
						text-decoration: none
						transition: opacity 0.4s
						text-align:center
						margin-bottom: 20px
						&:hover
							background-color: #F5800C