.footer
	.container
		.block-top
			.logo
				a(href="http://vk.com/yoga_pmr") Йога в Приднестровье
			.tel
				a(href="tel:+37377777777") 0 (777) 77777
		.block-middle
			.podpiska
				.form-reg
					form
						input(type="text" name="first_name" placeholder=" Ваше имя")
						input(type="text" name="mail" placeholder="Электронная почта")
						input(type="tel" name="tel" placeholder="Телефон")
				.button-wrap
					a(href="#").btnreg Отправить заявку